head {
  background-color: rgb(254, 250, 149);
}

.titulos {
  color: red;
  font-style: oblique;
}

.titulo1 {
  color: blue;
}

body {
  margin: 0;
  padding: 0;
}

.encabezado {
  margin: 0;
  padding: 0;
  height: 150px;
  color: violet;
}

h1 {
  padding: 0;
}

.boton {
  height: 30px;
  width: 110px;
  background-color: rgb(254, 250, 149);
  border-radius: 19%;
}
